In [ ]:
#Display the text â€œHello World! My name is ...."

In [1]:
print('Hello World, my name is Bree!')

Hello World, my name is Bree!

In [ ]:
#Add two numbers together

In [2]:
5 + 2

7

In [ ]:
#Subtract a number from another number

In [3]:
7 - 3

4

In [ ]:
#Divide between two numbers

In [5]:
8 / 4

2.0

In [ ]:
#Multiply two numbers

In [6]:
3 * 4

12

In [ ]:
#Concatenate two strings together (any words)

In [7]:
print ("Hello" + "Bob")

HelloBob

In [8]:
"Hello" + "bob"

'Hellobob'

In [ ]:
#Create a list of 4 items (can be strings, numbers, both)

In [18]:
list = [2,3,4,5]

In [ ]:
#Append an item to your list (again, can be a string, number)

In [15]:
list.append(5)

In [16]:
print(list)

[2, 3, 3, 5, 5]

In [ ]:
#Create a tuple with 4 items (can be strings, numbers, both)

In [17]:
tuple = ("hello", 4, 5)
print(tuple)

('hello', 4, 5)